{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Liste des Produits</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Tableau de bord</a></li>

                        <li class="breadcrumb-item active">parapharmacie</li>
                    </ul>
                    <br> <br>
    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="col-sm-12 col">
                    <a href="{{ path('app_produit_index')}}"
                       class="btn btn-primary float-right mt-2">back to list</a>
                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %}
