{% extends 'baseFront.html.twig' %}
{% block body %}
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Produit</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Produit</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <!-- Doctor Widget -->
            <div class="card">
                <div class="card-body">
                    <div class="doctor-widget">
                        <div class="doc-info-left">
                        
                            <div class="doctor-img">
                                <img src="{{ asset('/uploads/atachments/'~produit.img) }}">

                            </div> 
                            
                            <div class="doc-info-cont">
                                <h4 class="doc-name">{{ produit.nomproduit }}</h4>
                                </div> 
                        </div>
                        <div class="doc-info-right">
                            <div class="clini-infos">
                                <ul>
                                    <li><i class="far fa-comment"></i> Diponibilité: {{ produit.dispoproduit ? 'Yes' : 'No' }}</li>
                                    <li><i class="far fa-money-bill-alt"></i> {{produit.prix}}DT </li>
                                </ul>
                            </div>

                            <div class="clinic-booking">
                                <a class="apt-btn" href="#">Commande</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
{% endblock  %}